<head>
  <title>Todo List</title>
</head>

<body>
  <div class="container">
    <header>
    	<h1>Todo List({{incompleteCount}})</h1>

    	<label class="hide-completed">
    	  <input type="checkbox" checked="{{hideCompleted}}" />
    	  Hide Completed Tasks
    	</label>

    	<!-- meteor add accounts-ui accounts-password -->
    	<!-- Template from packages -->
    	{{> loginButtons}}
    	<!-- currentUser we getting from Meteor, buit-in field ? -->
    	{{#if currentUser}}
    	<form class="new-task">
    	  <input type="text" name="text" placeholder="Type to add new tasks" />
    	</form>
    	{{/if}}
    </header>
    <ul>
    <!-- helper in js file, returns a collection of finded tasks -->
    {{#each tasks}}
      {{> task}}
    {{/each}}
    </ul>
  </div>
</body>